{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "array-bracket-spacing": "error",
    "block-spacing": "error",
    "camelcase": "error",
    "computed-property-spacing": "error",
    "dot-location": ["error", "property"],
    "eol-last": "error",
    "eqeqeq": "error",
    "function-call-argument-newline": ["error", "consistent"],
    "key-spacing": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "no-undef": "off",
    "no-var": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "operator-linebreak": ["error", "before"],
    "padded-blocks": ["error", "never"],
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-in-parens": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": "error",
    "switch-colon-spacing": "error",
    "unicode-bom": "error",
    "@typescript-eslint/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/comma-spacing": "error",
    "@typescript-eslint/func-call-spacing": "error",
    "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1 }],
    "@typescript-eslint/keyword-spacing": "error",
    "@typescript-eslint/no-extra-semi": "error",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/space-before-function-paren": ["error", { "anonymous": "never", "named": "never", "asyncArrow": "always" }],
    "@typescript-eslint/space-infix-ops": "error",
    "@typescript-eslint/type-annotation-spacing": "error"
  },
  "ignorePatterns": [ "/dist/" ]
}
